<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
  <title>AngularJS Instant Tweet Search Application</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
  <script src="oauth.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="services.js"></script>
  <style>
    #controls { padding: 2rem 0; }
    #list { margin-bottom: 2rem!important; }
  </style>
</head>
<body>
  <div class="ui container" ng-controller="TwitterController">
    <h1 class="ui center aligned dividing header">AngularJS Instant Tweet Search Application</h1>
    <div id="controls" class="ui equal width grid">
      <div class="column">
        <div class="three ui buttons">
          <button ng-click="connectButton()" id="connectButton" type="button" class="ui twitter button">
            <i class="twitter icon"></i>
            Connect Twitter
          </button>
          <button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="ui teal button" style="display:none;">Get My Timeline</button>
          <button ng-click="signOut()" id="signOut" type="button" class="ui red button" style="display:none;">Sign Out</button>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid left icon input">
          <input type="text" ng-model="searchTerm" id="searchBox" placeholder="Search for..." value="" ng-show="connectedTwitter"/>
          <i class="twitter icon"></i>
        </div>
      </div>
    </div>
    <div id="list" class="ui padded tall stacked grid segment">
      <div class="column" id="results">
        <div class="ui items" ng-repeat="t in tweets | filter:searchTerm">

          <div class="item">
            <a class="ui mini middle aligned image">
              <img ng-src="{{t.user.profile_image_url}}">
            </a>
            <div class="content">
              <a class="header">@{{t.user.screen_name}}</a>
              <div class="ui slider checkbox" style="padding-left: 1rem;">
                <input type="checkbox" ng-model="isShowed" ng-change="toggleTweet(t)">
                <label>Show on Stream</label>
              </div>
              <div class="description">
                <p ng-bind-html="t.text"></p>
              </div>
            </div>
          </div>

        </div>

        <div ng-show="rateLimitError">
          Rate limit reached. You are making too many requests.
        </div>
        <div>
          <br/>
          <input type="button" class="ui fluid teal button" id="load-more" ng-click="refreshTimeline(tweets[tweets.length-1].id)" ng-show="connectedTwitter" value="Load More"/>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
